.regression-plot {
	height: 100%; 
	position: relative; 
	overflow: hidden;
}

.regression-plot .regression {
	fill: none;
}

.regression-plot .axis path,
.regression-plot .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.regression-plot .axis text {
	font-size: 10px;
	font-family: sans-serif;
}

.regression-plot .text-label {
	font-size: 10px;
	font-family: sans-serif;
}
